<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arc.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.arc.client.MainApp"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.arc.client.Dashboard"
            android:label="@string/title_activity_dashboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.arc.client.InputActivity"
            android:label="@string/title_activity_input" >
        </activity>
        <activity
            android:name="com.arc.client.ScanActivity"
            android:label="@string/title_activity_scan" >
        </activity>
        <activity
            android:name="com.arc.client.VLCActivity"
            android:label="@string/title_activity_vlc" >
        </activity>
        <activity
            android:name="com.arc.client.PresentationActivity"
            android:label="@string/title_activity_presentation" >
        </activity>
        <activity
            android:name="com.arc.client.RemotesListActivity"
            android:label="@string/title_activity_remotes_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.arc.client.PowerStatesActivity"
            android:label="@string/title_activity_power_states" >
        </activity>
        <activity
            android:name="com.arc.client.FileBrowserActivity"
            android:label="@string/title_activity_file_browser" >
        </activity>
    </application>

</manifest>